[Unit]
Description=Kaufhansel Backend
After=syslog.target

[Service]
Type=simple
User=kaufhansel
EnvironmentFile=/opt/kaufhansel/kaufhansel_service_config
ExecStart=/usr/bin/java -jar /opt/kaufhansel/kaufhansel_backend.jar
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
