[Unit]
Description=Kaufhansel Backend

[Service]
Type=simple
User=kaufhansel
EnvironmentFile=/opt/kaufhansel/kaufhansel_service_config
ExecStart=/usr/bin/java -jar /opt/kaufhansel/backend.jar
Restart=on-failure
RestartSec=5