body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  height: 100vh;
}

.kaufhansel-image {
  height: 1.3em;
  margin-top: -8px;
  margin-right: 5px;
}

.shopping-list-board {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.shopping-list-board-header {
  padding: 16px 16px 0px 16px !important;
  padding-bottom: 0;
  flex: 0 0 auto;
}

.ant-page-header-heading .ant-page-header-heading-title {
  padding-right: 6px;
}

.shopping-list-board-header .ant-page-header-heading-extra {
  float: right;
  display: inherit;
  width: auto;
  padding-top: 0;
  clear: unset;
}

.shopping-list-board-spinner {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.shopping-list-board-spinner > div {
  flex: 1 1 auto;
  min-height: 0;
}

.shopping-list-board-tabs {
  padding: 0 16px 0 16px !important;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.shopping-list-board-tabs > .ant-tabs-bar {
  flex: 0 0 auto;
}

.shopping-list-board-tabs > .ant-tabs-content {
  flex: 1 1 auto;
  min-height: 0;
}

.shopping-list-board-tabs > .ant-tabs-content > .ant-tabs-tabpane-active {
  height: 100%;
}

.shopping-list-board-main-tab-content {
  height: 100%;
}

.shopping-list-board-readonly-list {
  height: 100%;
  overflow-y: auto;
}

.editable-shopping-list-component {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.editable-shopping-list-component-list {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.editable-shopping-list-component-controls {
  flex: 0 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  border-top: 1px solid #f0f0f0;
}

button.editable-shopping-list-small-add-button {
  width: 100%;
  padding: 0;
}

.editable-shopping-list-small-add-button span:not(.anticon-loading) {
  font-size: 2em;
  line-height: 100%;
  height: 100%;
  font-weight: bold;
  margin-top: 1px;
}

.shopping-list-item {
  padding: 8px 0px !important;
}

.shopping-list-item-row {
  width: 100%;
}

.delete-item-btn {
  width: 40px;
  float: right;
  margin-right: 8px;
}

.assignee-candidate {
  display: inline-block;
  cursor: pointer;
  line-height: 100%;
  height: 100%;
  min-width: 30%;
  margin-left: 0.5em;
}

.assignee-candidate:hover {
  color: #40a9ff;
}

.assignee-candidate-placeholder {
  color: #ababab;
}

.assignee-candidate-set {
  color: inherit;
}

.assignee-select-dialog-subtitle {
  font-size: 14px;
  line-height: 22px;
  color: #00000073;
  margin-left: 5px;
}

.assignee-candidate-item {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 5px !important;
  border: 1px solid #f0f0f0;
}

.assignee-candidate-item.current-candidate {
  border-color: #40a9ff;
  color: #40a9ff;
}

.assignee-candidate-item.current-candidate:hover {
  color: #74c0ff;
}

.assignee-candidate-item:hover {
  color: #40a9ff;
}
